.linksleeg{
 background-color: rgb(254, 13, 13);
}

.rechtsleeg{
  background-color: rgb(240, 6, 6);

}

.midden{
  background-color: rgb(255, 127, 187);

}



*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: lightblue;
 
}

.tekst{
  background-color: grey;
  padding: 20px;
}